/* custom styles */
.wrapper{
	position: relative;
}
.slider{
	width: 100%;
	height: 100%;
	float: left;
}
.btns{
	position: absolute;
	border-radius: 50%;
	background: #424242;
	border: 1px solid black;
	opacity: 0.5;
	width: 56px;
	height: 56px;
	color: white;
	font-size: 18px;
	cursor: pointer;
	top: calc(50% - 28px);
}
.btn-left{
	left: 5px;
}
.btn-right{
	right: 5px;
}
.desctription{
	float: left;
    font-size: 18px;
    width: calc(100% - 50px);
    padding: 10px 25px;
    line-height: 25px;
}